.env
# storage/comprobantes/*.pdf
# assets/img/productos/*
# !assets/img/productos/.gitkeep
storage/backups/*.sql
!storage/backups/.gitkeep
node_modules/
vendor/
.phpunit.cache/
*.log
Thumbs.db
desktop.ini
~$*.doc*
~$*.xls*
~$*.ppt*
# docs/
# figma/
# *.zip
